[Desktop Entry]
Encoding=UTF-8
Version=1.0                        version of .desktop file specification, should be 1.0
Type=Application
Terminal=false                      true: runs application inside of xterm window
Name=Audelicious                          the name that appears in the menu
Exec=/root/AudeliciousQT       the command that is executed when icon is clicked
Icon=                              Icon for shortcut, without path and extension  
#X-Window-Icon=timerwidget
X-Window-Icon=     
X-HildonDesk-ShowInToolbar=true    Show app in toolbar
X-Osso-Type=application/x-executable
